body {
    font-family: Arial, sans-serif;
    background-color: rgb(241, 219, 209);
    padding: 20px;
}

#chatbox {
    position: relative; /* Wichtig für die Positionierung der Überlagerung */
    border-radius: 10px;
    padding: 10px;
    height: 350px;
    overflow-y: scroll;
    background-color:  rgb(237, 209, 196);
    margin-bottom: 10px;
    background-image: url('images/chzivil.png'); /* Fügen Sie das Hintergrundbild hinzu */
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right 20px center;
}

#chatbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Halbtransparente weiße Überlagerung */
    z-index: 1; /* Über dem Hintergrundbild, aber unter dem Inhalt des Chatbox-Elements */
    pointer-events: none; /* Ermöglicht Interaktionen mit dem darunterliegenden Inhalt */
}

#chatbox-content {
    position: relative;
    z-index: 2; /* Über der Überlagerung positionieren */
}


input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid rgb(240, 183, 157);
    border-radius: 6px;
}

.actionbutton {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

button {
    padding: 10px 20px;
    background-color: rgb(240, 183, 157);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(238, 152, 113);
}


/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 10px;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}