body {
    font-family: Arial, sans-serif;
    background-color: rgb(241, 219, 209);
    padding: 20px;
}

#chatbox {
    position: relative; /* Wichtig für die Positionierung der Überlagerung */
    border: 1px solid rgb(240, 183, 157);
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    background-color:  rgb(237, 209, 196);
    margin-bottom: 10px;
    background-image: url('images/chzivil.png'); /* Fügen Sie das Hintergrundbild hinzu */
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right 20px center;
}

#chat